body {background-color:black;}
h1{
  font-family: Verdana;
  font-size: 40px;
  font-weight: bold;
  color:gray;
  padding: 25px;
  margin-bottom: 0px;

}
label{
  font-family: Arial;
  font-weight: bold;
  font-size: 15px;
  display: inline-block;
  width: 125px;
  margin-bottom: 10px;
}

output{
  font-family: Arial;
  font-size: 20px;
}

#fondo p{
  margin-top: -20px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  font-size: 15px;
  font-family: Arial;
  font-weight: bold;
}
footer{
  margin-top:-45px;
  padding: 25px;
  font-family: Arial;
  font-weight: bold;
  font-size: 20px;
}
#years{
  width: 45px;
}
#background #fondo{
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
  background: white;
  width: 80%;
  height: auto;
}

#fondo #form-compute{
  margin-top: -20px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  padding: 25px;
  width: 50%;
}
